<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>My App</span>
    <span style="flex: 1 1 auto"></span>
    <button mat-button (click)="openDialog()">open dialog</button>
    <mat-slide-toggle (click)="toggleDarkMode()" [(ngModel)]="isDarkMode"
      >Dark mode</mat-slide-toggle
    >
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>
</mat-drawer-container>
